<div class="container-fluid">
  <div class="row p-5 text-white footer-content">
    <div class="col-3">
      <h3>COMPANY NAME</h3>
      <p>(256) 566-3752</p>
      <p>202 Kampala Dr John Doe, DE 23465</p>
    </div>
    <div class="col-3">
      <ul class="footer-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">News</a></li>
      </ul>
    </div>
    <div class="col-3 p-0">
      <ul class="about-list bg-light mt-4">
        <P class="text-success pt-2">Find Us On Social Media</P>
        <i class="fab fa-facebook-square fa-3x"></i>
        <i class="fab fa-twitter-square fa-3x"></i>
        <i class="fab fa-linkedin fa-3x"></i>
        <i class="fab fa-youtube-square fa-3x"></i>
      </ul>
    </div>
    <div class="col-3">
      <h6>Stay Connected And Get Updates On Our Services</h6>
      <form action="">
        <input type="text">
        <button class="btn-success">submit</button>
      </form>
    </div>
  </div>
  <div class="row bg-dark p-1 text-white text-center">
    <div class="col-12"><p>© 2020 Company Name | Design, Hosting and Application Development by Frank Okiror</p></div>
  </div>
</div>