<div class='container'>
  <div class='d-flex justify-content-between mt-2'>
    <div><h1>CONPANY NAME HERE</h1></div>
    <div class='nav1'>
      <ul class='d-flex'>
        <li><a href="#" class="ml-2">news</a></li>
        <li><a href="#" class="ml-2">internalsite</a></li>
      </ul>
    </div>
  </div>
  <div class='nav2'>
    <ul class='d-flex justify-content-between'>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Our Reserach</a></li>
      <li><a href="#">People</a></li>
      <li><a href="#">Publications</a></li>
      <li><a href="#">Get Involved</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>